body {
  min-height: 100vh;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 37% 50% 20%S;
  grid-template-rows: 11% 60% 15%;
  margin: 0;
  background-color: burlywood;
  /*-position: static;*/
  background-size: 1500px;
  background-repeat: no-repeat;
  background-image: url("./images/body-bg.jpg");
  gap: 20px;
}

.h2 {
  color: cornflowerblue;
}

#grave {
  position: relative;
  left: 10px;
  bottom: 300;
}

#left-menu {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 400px;
  height: 600px;
  border-style: double;
  background-color: rgb(66, 62, 62);
  border: 1px solid darkred;
  border-width: 3px;
  border-style: double;
  border-radius: 40px;
  margin-left: 40px;
}

.left-section1 {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 30px;
}

.left-section2 {
  margin-left: 20px;
}

.left-section3 {
  margin-left: 70px;
}

#add-btn {
  background-color: darkred;
  border: 1px solid white;
  border-radius: 30px;
  color: aliceblue;
  margin-left: 7px;
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  min-height: 100vh;
  justify-content: center;
}

#startmenu-screen {
  display: grid;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 50px;
  margin-left: 40px;
}

#my-canvas {
  border: 7px solid darkred;
  border-style: ridge;
  margin: 0px;
  background-color: burlywood;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#gameover-screen {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 500px;
  height: 700px;
  color: rgb(66, 62, 62);
  align-content: center;
  text-align: center;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.start-btn {
  position: relative;
  width: 70px;
  height: 50px;
  left: 65px;
  bottom: 344px;
  background-color: rgb(66, 62, 62);
  color: white;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-style: italic;
  border-radius: 150px;
  border-style: ridge;

  margin: 30px 30px 0px 100px;
}

#restart-btn {
  width: 200px;
  height: 50px;
  background-color: rgb(66, 62, 62);
  color: white;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-style: italic;
  border-radius: 10px;
  border-style: ridge;
  margin: 30px 30px 0px 155px;
}

#my-canvas,
#gameover-screen {
  display: none;
}
